.red {
    color: red;
    text-align: center;
}

.big {
    font-size: 30px;
    text-transform: uppercase;
}

.text-justify {
    color: darkorange;
    text-align: justify;
    text-transform: uppercase;

}

.thick-separator {
    border: none;
    height: 2px;
    background-color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

body {
    /*background-color: bisque;*/
    margin: 20px;
    font-family: roboto, sans-serif;
    font-size: 20px;
    /*text-align: center;*/
    /*overflow: hidden;*/
}

h1 {
    font-style: normal;
    color: blue;
    text-transform: uppercase;
}

.title {
    font-family: arial;
    padding: 30px;
    font-size: 20px;
}

input[type="text"] {
    padding: 10px 30px;
    border: black 2px solid;
    font-size: 30px;
    outline: none;
}

p.justified-uppercase {
    text-align: justify;
    text-transform: uppercase;
}

.styled-button {
    font-size: 18px;
    padding: 10px;
    margin: 5px;
    border: 2px solid darkred;
}

#loading-text {
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
}

button:disabled {
    opacity: 0.3;
}

button {
    margin: 0 10px;
    background-color: #fff;
    border: 2px solid black;
    font-weight: bold;
    font-size: 30px;
    min-width: 50px;
    height: 50px;
    cursor: pointer;
    outline: none;
}

div {
    line-height: 50px;
    font-size: 30px;
    font-family: arial, sans-serif;
    vertical-align: center;
}

html {
    font-size: 12px;
    font-family: sans-serif;
}

li {
    line-height: 100%;
    padding: 5px 5px;
}

li:nth-child(even) {
    background-color: #eee;
}

li:nth-child(odd) {
    background-color: #ccc;
}
